body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    text-align: center;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-large-container{
    background-image: url("/images/bg-header-mobile.png"),
        linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:40vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logo-large{
    width:150px;
    height:150px;
}
section{
    margin:10% 0;
}
section:nth-of-type(1){
    margin-top: 0;
}
/* *************
    Buttons
************* */
.button{
    cursor:pointer;
    color:white;
    font-weight: 600;
    opacity: 90%;
    border:none;
    padding:10px 70px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.ios{
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 4px 2px 0px hsl(171, 66%, 44%);
}
.ios:hover {
	background-color:hsl(171, 68%, 46%);
    box-shadow: 0px 4px 2px 1px hsl(171, 67%, 45%);
}
.ios:active {
	position:relative;
	top:1px;
    box-shadow: 0px 2px 2px 1px hsl(171, 67%, 45%);
}
.mac{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 4px 2px 1px hsl(233, 100%, 69%);
}
.mac:hover {
	background-color:hsl(233, 98%, 71%);
    box-shadow: 0px 4px 2px 1px hsl(233, 99%, 70%);
}
.mac:active {
    box-shadow: 0px 2px 2px 1px hsl(233, 99%, 70%);
	position:relative;
	top:1px;
}
/* *************
    Fonts
************* */
p{
    color:hsl(201, 11%, 66%);
}
/* *************
    Footer
************* */
#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:10vh;
    padding:20px;
}
.logo-small{
    width:100%;
    height:auto;
}
.footer-links{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-link{
    margin: 20px;;
    color:hsl(210, 10%, 33%);
    text-align: left;
    text-decoration: none;
}
.footer-link:hover{
    color:hsl(171, 66%, 44%);
}
/* *************
TABLET DESIGN
************* */
@media screen and (max-width:800px){
    #footer{
        margin-top: 20px;
        height:40vh;
        flex-direction: column;
        justify-items: space-between;
    }
    .footer-links{
        grid-template-columns: repeat(4,1fr);
    }
    
    
}

/* *************
MOBILE DESIGN
************* */
@media screen and (max-width:550px){
    #footer{
        margin-top: 20px;
        height:40vh;
        flex-direction: column;
    }
    .footer-links{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-link{
        text-align: center;
    }
    
    
}